.datePickerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

.dateInput {
  width: 275px;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  font-size: 16px;
  color: var(--placeholder-color);
}

.inputGroup {
  display: flex;
  flex-direction: column;

}

.label {
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 8px;
}

.dateInput.filled {
  color: var(--text-color);
}

.dateInput:focus {
  border: 2px solid var(--primary-color);
}

.errorDateInput {
  border: 2px solid var(--error-color);
}

.dateInput:hover {
  box-shadow: 0 0 5px var(--shadow-color);
  cursor: pointer;
}

.calendarIcon {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.calendarImg {
  width: 20px;
  height: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.error {
  color: var(--error-color);
  font-size: 14px;
  margin-top: 4px;
}

.required {
  color: var(--error-color);
  font-weight: 600;
}
