.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radioGroup.row .options {
  display: flex;
  gap: 20px;
  align-items: center;
}

.radioGroup.column .options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: 300;
}

.radioInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.customRadio {
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.customRadio:hover {
  box-shadow: 0 0 5px var(--shadow-color);
}

.radioInput:checked + .customRadio {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.radioInput:checked + .customRadio::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../../assets/images/icons/cheked_icon.svg") no-repeat center center;
  background-size: contain;
}


.required {
  color: var(--error-color);
  font-weight: 600;
}

.error {
  color: var(--error-color);
  font-size: 14px;
  margin-top: 5px;
}
