.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.inputGroup.row {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #DEE4F0;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color); 
}

.small {
  width: 100px;
}

.medium {
  width: 275px;
}

.large {
  width: 420px;
}

.input:focus {
  border: 2px solid var(--primary-color);
}

.input:hover {
  box-shadow: 0 0 5px var(--shadow-color);
}

.errorInput {
  border: 2px solid var(--error-color);
}

.label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--text-color);
}

.error {
  color: var(--error-color);
  font-size: 14px;
  margin-top: 5px;
}

.required {
  color: var(--error-color);
  font-weight: 600;
}

